@font-face {
  font-display: swap;
  font-family: "Geologica";
  src: url('../../public/fonts/Geologica-VariableFont.ttf') format("ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --color: #fff;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
  background-color: #1D2533;
  color: var(--color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px;
}

.bttn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}

.svg-wrapper {

  &:hover{
    --color: #9466FF;
    transition: .2s linear;

    svg{
      filter: blur(1px);
    }
  }
  svg{
    fill: var(--color);
  }
}

.text-hover:hover{
  text-shadow: 0 0 2px var(--color);
}